<% console %>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;  
  text-align: left;
  padding: 8px;
}
</style>

<% if !@car.drivers.empty? %>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created At</th>
        </tr>
        <% @car.drivers.each do |driver| %>
            <tr>
                <td> <%= driver.id %> </td>
                <td> <%= driver.name %> </td>
                <td> <%= driver.created_at %> </td>
            </tr>
        <% end %>
    </table>
    
<% else %>

    <h3> Car '<%= @car.title %>' has no drivers </h3>

<% end %>