<% console %>
<h1>Cars List</h1>

<% @drivers.each do |driver| %>
    <p value="title"> <%= driver.id %> <%=driver.name %> </p>
<% end %>

<%= button_to "Back To Home Page", root_path, :method => "get"%>