<% console %>
<h1>Cars List</h1>

<div id="feed">

    <% @cars.each do |car| %>
        <p> <%= car.id %>. <%= car.title %> </p>
    <% end %>

</div>

<%= button_to "Back To Home Page", root_path, :method => "get"%>